* {
	box-sizing: border-box;
}

.text{
	cursor: text;
	border-radius: 1%;
	border-color: wheat;
}

button{
	cursor: pointer;
	padding: 10px 20px;
	background: linear-gradient(to right, orange, orangered);
	border-color: orange;
}

button:hover{transform: scale(1.2);}

table{width: 100%;}

.table1{
	width: 20%;
	font-size: medium;
}

.logoikmi{width: 70%;}

.table2{
	width: 70%;
	font-size: larger;
}

@media only screen and (max-width: 400px){
	
}