/* Untuk KOP */

body {margin: 0;}

.wadahutama {
	margin: 0 auto;
	padding: 20px;
	width: 793.70px;
	border: solid 1px grey;
}

.wadahkedua {
	align-items: center;
	display: flex;
	gap: 10px;
}

img {width: 80px;}

.kepanjangan {
	font-size: 10px;
	font-family: verdana;
	margin-top: 0px;
}

.singkatan {display: flex;}

.stmik {
	font-size: 50px;
	font-family: verdana;
	line-height: 40px;
	font-weight: bold;
	color: red;
	letter-spacing: 10px;
}

.ikmi {margin-top: 0px;}

.iniikmi {
	font-size: 22px;
	font-family: verdana;
	line-height: 24px;
	font-weight: bold;
	color: blue;
	letter-spacing: 7px;
}

.inicirebon {
	font-size: 15px;
	line-height: 20px;
	font-family: verdana;
	letter-spacing: 3px;
   	font-weight: bold;
    color: green;
}

.alamatkampus {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;
}

.alamatkampus div {letter-spacing: 2px;}

.alamatkampus a {color: blue;}

.wadahketiga {
    display: flex;
   	width : 100%;
}

.sk {
	padding: 2px 0px;
    width: 55%;
    text-align: center;
    background-color: darkred;
   	color: white;
}

.akreditasi {
	padding: 2px 0px;
   	width: 45%;
   	text-align: center;
    background-color: darkgreen;
    color: white;
}

.surat {
    font-size: 22px;
    letter-spacing: 3px;
    text-decoration: underline 2px;
    font-weight: bold;
}


/* Untuk form */
h1{font-size: 20px;}

.bagian2 input[type="text"],
	input[type="date"],
	select, textarea
	{
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 15px;
		width: 80%;
		font-family: serif;
		padding: 12px 10px;
		border: 1px solid black;
		border-radius: 7px;
		display: flex;
	}

button{
	box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
	border-radius: 10px;
	border-style: none;
	background-color: #1d3557;
	color: white;
	height: 40px;
	font-family: serif;
	cursor: pointer;
}


button:hover{
	transform: scale(1.1);
	background-color: #8d99ae;
}


@media only screen and (max-width: 768px){
	body{
		box-sizing: border-box;
	}

	img{width: 100px;}

	h1{font-size: 12px;}

	.bagian1{font-size: 10px;}

	.bagian2{padding: 15px;}

	input, select{
		padding: 5px 10px;
		font-size: 10px;
		margin: 5px 0 10px;
	}
}