h1 {
	color: navy;
	font-family: sans-serif;
	text-decoration: underline;
}
body {
	background-color: oldlace;
	font-family: cursive;
	color: navy;
}

table {
	border: 2px;
	border-color: lightskyblue;
	background-color: navy;
	color: oldlace;
	text-align: center;
	width: 100%;
	max-width: 500px;
	padding: 3px;
	cursor: pointer;
	
}

button{
	color: oldlace;
	background-color: navy;
	border-color: lightskyblue;
	font-family: serif;
	cursor: pointer;
}

A:hover{background-color: midnightblue;}

.diedit:hover{transform: scale(1.2);}

.dihapus:hover{transform: scale(1.2);}
